.popup-image__content {
  min-width: 80vw;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

/* @media screen and (max-width: 540px) {
  .popup-image__content {
    width: calc(100% - 60px);
  }
} */
